@import 'variables';


nav {
    background-color: $dark-brown;
    a {
        color: white !important;
        font-weight: 600;
        &:hover {
            color: $dark-brown !important;
            background: $medium-green !important;
        }
    }
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.gallery-item {
    flex: 0 1 200px;
    margin: 0.25em 0.25em;
}