@import 'variables';

.brick {
     background-color: $medium-brown;
     padding: 1em;
     border-radius: 5%;
     box-shadow: 10px 12px 32px -3px rgba(116,70,19,1);
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.5em;
}
p {
    text-align: center;
    display: block;
    background-color: $light-green;
}

.like {
    float: right;
    width: 40px;
    height: 25px;
    padding: 0 2px;
    display: flex;
    background-color: $light-yellow;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    float: left;
}

.bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.profile-img {
    width: 35px;
    height: 35px;
    float: left;
}