nav {
  background-color: #3E260E; }
  nav a {
    color: white !important;
    font-weight: 600; }
    nav a:hover {
      color: #3E260E !important;
      background: #90C4AB !important; }

.dropdown-menu a {
  color: #3E260E !important;
  font-weight: 300; }

#gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.gallery-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 200px;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  margin: 0.25em 0.25em; }
