<div class="brick">
    <img [src]="url" class="img-responsive"  onError="this.src='https://cdn.hyperdev.com/us-east-1%3A60e6615e-7d9e-47ac-903b-3b4b47372e42%2Fplaceholder.png'"/>
    <p>{{description}}</p>
    <div class="bottom">
        <img [src]="thumbnail" alt="profile picture" class="img-responsive img-thumbnail profile-img" onError="this.src='https://cdn.hyperdev.com/us-east-1%3A60e6615e-7d9e-47ac-903b-3b4b47372e42%2Fplaceholder.png'" data-toggle="tooltip" data-placement="bottom" [title]="author" />
        <button class="btn"><span class="glyphicon glyphicon-star"></span></button>
        </div>
</div>