<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pineclone</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li *ngIf="user? user.authenticated : false"><a href="#" (click)="open()">Add a picture</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user?!user.authenticated:true"><a href="/auth/twitter"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<modal #picModal>
  <form #modalForm="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">Add a picture</h4>
    </modal-header>
    <modal-body>
      <div class="form-group">
        <label for="firstName">URL</label>
        <input type="text" class="form-control" required [(ngModel)]="upload.url" name="url" id="url">
      </div>
      <div class="form-group">
        <label for="lastName">Description</label>
        <input type="text" class="form-control" required [(ngModel)]="upload.description" name="description" id="description">
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="picModal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="addPicture()">Save</button>
    </modal-footer>
  </form>
</modal>
<div id="gallery" class="container">
  <brick class="gallery-item" *ngFor="let picture of pictures" [id]="picture._id" [url]="picture.url" [description]="picture.description" [author]="picture.author" [user]="user"[thumbnail]="picture.thumbnail" [likedBy]="picture.likedBy" (put)="updatePicture($event)" (like)="toggleLikes($event)"
    (remove)="removePicture($event)">Loading pictures...</brick>
</div>